<% if(typeof error != 'undefined') { %>
  <div class="ui error message">
  <div class="header">
    <%= error.title %></div>
    <p><%= error.message %></p>
  </div>
<% } %>

<form method="post" action="/auth/authenticate" class="ui form">
  <div class="required field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter Username" value="<%= typeof username != 'undefined' ? username : '' %>" required>
  </div>
  <div class="required field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter Password" minlength="8" value="<%= typeof password != 'undefined' ? password : '' %>" required>
  </div>
  <button class="ui blue button" type="submit" name="action" value="login">Login</button>
  <p>No Account? <a class="ui teal" href="/auth/register"> Sign Up &amp; Login </a></p>
</form>


